<!DOCTYPE html>
<html>
  <head>
    <title>Viewer Page</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
    <div id="app">
      <div v-if="view === 1">
        <div class="option-container">
          <div
            :class="{'option-group': true, 'selectable': true, 'checked': checkedIndex === i}"
            v-for="(opt, i) in options"
            @click="() => optionOnClick(i)"
          >
            <span>{{opt.name}}</span>
            <span>{{opt.number}}</span>
          </div>
        </div>
        <div class="fix-area">
          <button class="start-button" @click="sendRequest">
            Vote
          </button>
        </div>
      </div>
      <div v-if="view === 2">
        <h3 class="end-title">THANKS FOR VOTING</h3>
      </div>
      <div v-if="view === 3">
        <h3 class="end-title">GAMBLING END</h3>
      </div>
    </div>
    <script src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script src="viewer.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      let instance;
      window.Twitch.ext.onAuthorized(function(auth) {
        instance = axios.create({
          headers: {
            Authorization: "Bearer " + auth.token
          }
        });
      });
      //   const axios = require("axios").default;
      Vue.component("b-input", {
        template: "<li>This is a todo</li>"
      });
      var app = new Vue({
        el: "#app",
        data: {
          inputVal: "",
          options: [],
          view: 1,
          checkedIndex: undefined,
          totalVoters: 0
        },
        created() {
          instance.get("http://localhost:8081/gamble/query").then(response => {
            this.options = response.data.options;
          });
        },
        mounted() {
          window.Twitch.ext.bits.onTransactionComplete(function(transaction) {
            instance
              .post("http://localhost:8081/gamble/vote", {
                index: this.checkedIndex
              })
              .then(response => {
                this.view = 2;
              });
          });
        },
        methods: {
          optionOnClick(i) {
            if (this.view === 1) {
              this.checkedIndex = i;
            }
          },
          sendRequest() {
            twitch.bits.useBits("id");
          }
        }
      });
    </script>
  </body>
</html>
